#include "resources.h"

IDR_SHADER_TRANSPARENT_GENERIC      HLSL    "../impl/rasterizer/shaders/psh/shader_transparent_generic.hlsl"
IDR_SHADER_HUD_METERS               HLSL    "../impl/rasterizer/shaders/psh/hud_meters.hlsl"
